@media only screen and (max-width: 340px) {

    #document-title {
        width: 60%;
    }

    .filter-options {
        width: 40%;
    }


    .restaurant-tile {
        width: 100%;
        padding: 10px;
    }

    .map-container {
        padding: 10px;
    }

    #restaurant-container {
        flex-direction: column;
    }

    #restaurant-container-part-1{
        width: 100%;
    }

    #restaurant-container-part-2 {
        width: 100%;
    }

    #restaurants-list {
        display: flex;
    }
}



@media only screen and (min-width: 340px) {


    #document-title {
        width: 50%;
    }

    .filter-options {
        width: 40%;
    }


    .restaurant-tile {
        width: 100%;
        padding: 10px;
    }

    .map-container {
        padding: 10px;
    }

    #restaurant-container {
        flex-direction: column;
    }

    #restaurant-container-part-1{
        width: 100%;
    }

    #restaurant-container-part-2 {
        width: 100%;
    }

    #restaurants-list {
        display: flex;
    }

}

@media only screen and (min-width: 400px) {
    #document-title {
        width: auto;
    }

    .filter-options {
        width: 30%;
    }

    .restaurant-tile {
        width: 40%;
        padding: 10px;
    }

    .map-container {
        padding: 10px;
    }
}

@media only screen and (min-width: 500px) {

    .filter-options {
        width: 25%;
    }

    .restaurant-tile {
        width: 40%;
        padding: 15px;
    }
}

@media only screen and (min-width: 610px) {

    .filter-options {
        width: 25%;
    }

    .restaurant-tile {
        width: 25%;
        padding: 15px;
    }

    #restaurant-container {
        flex-direction: row;
    }

    #restaurant-container-part-1{
        width: 45%;
    }

    #restaurant-container-part-2 {
        width: 45%;
        padding-left: 20px;
    }
}



@media only screen and (min-width: 800px) {

    .filter-options {
        width: 18%;
    }

    .map-container {
        height: 600px;
    }

    .restaurant-tile {
        width: 20%;
        padding: 20px;
    }

    body {
        width: 100%;
        margin: 10px;
    }

    #restaurants-list {
        display: flex;
    }

    .restaurant-tile {
        width: 20%;
        height: auto;

    }
}